
@media screen and (max-width: 1076px) {
    .hero {
        h1 {
            font-size: 20px;
        }
}
}
@media screen and (max-width: 1076px) {
    .grid_galeria {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media screen and (max-width: 1076px) {
    .img-1 {
        grid-row: span 2;
    }
}
@media screen and (max-width: 1076px) {
    .img-2 {
        grid-column: span 2;
    }
}
@media screen and (max-width: 1076px) {
    .img-3 {
        grid-column: span 2;
    }
}
@media screen and (max-width: 1076px) {
    .img-4 {
        grid-column: span 1;
    }
}
@media screen and (max-width: 1076px) {
    .img-5 {
        grid-column: span 3;
    }
}
@media screen and (max-width: 1076px) {
    .fixed {
        display: none;
    }
}
@media screen and (max-width: 1076px) {
    /* SERVICIOS */
    .servicio {
        padding-top: 10px;

        div {
            height: 320px;
            width: 450px;

            img {
                height: 380px;
                width: 450px;
                object-fit: cover;

            h5 {
                padding: 30px;
                text-align: center;
                color: black;
                font-style: italic;
                font-size: 20px;
                }
            }
        }
    }
}
@media screen and (max-width: 1060px) {
    .terminos_condiciones {
        justify-content: space-between;
        height: 100%;
        flex-wrap: nowrap;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 1060px){
    .frescura{
        p{
            font-size: 45px;
        }
    }
}

@media screen and (max-width: 983px) {
    .titulo {
        font-size: 40px;
    }
}
@media screen and (max-width: 983px) {
    /* SERVICIOS */
    .servicio {
        padding-top: 10px;
        div {
            height: 320px;
            width: 300px;
            img {
                height: 380px;
                width: 300px;
                object-fit: cover;

                h5 {
                    padding: 50px;
                    text-align: center;
                    color: black;
                    font-style: italic;
                    font-size: 20px;
                    padding: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 799px) {
    .terminos_condiciones {
        div {
        border: 0.5px rgb(255, 255, 255) solid;
        height: auto;
        width: auto;
        margin: 30px 100px 0 100px;
        padding: 20px;
        }
    }   
}
@media screen and (max-width: 799px) {
    .promo_container {
        width: 90%;
        height: 90%;
        padding: 10px;
    }
}
@media screen and (max-width: 749px){
    /* tarjeta */
    .gustos{
        padding: 35px;
        div{
            height: 300px;
            width: 185px;
            padding: 0px;
            p{
                padding: 0px 0px 10px 0px; 
            img{
                width: 180px;
                height: 210px;
            }
            }
        }
    }
}
@media screen and (max-width: 749px){
    .logo{
        width: 100px;
        margin: 5px 5px 5px 5px;
    }
}
@media screen and (max-width: 749px){
    .grid_galeria{
        grid-template-columns: repeat(2, 2fr);
    }
}
@media screen and (max-width: 749px){
    .img-1{
        grid-row: span 1;
    }
}
@media screen and (max-width: 749px){
    .img-2{
        grid-column: span 1;
    }
}
@media screen and (max-width: 749px){
    .img-3{
        grid-column: span 1;
    }
}
@media screen and (max-width: 749px){
    .img-4 {
        grid-column: span 1;
    }
}
@media screen and (max-width: 749px){
    .img-5 {
        grid-column: span 2;
    }  
}

@media screen and (max-width: 738px) {
    .gustos{
        div{
            img{
                width: 180px;
                height: 200px;
            }
        }
    }
}



@media screen and (max-width: 709px){
    .titulo{
    font-size: 45px;
    }
}
@media screen and (max-width: 709px){    
    .gustos {
        div{ 
            p{
            font-size: 15px;
            }
    }
}
@media screen and (max-width: 709px){ 
    }
    .promociones{
        h2{
        font-size: 30px;
    }
}
}

@media screen and (max-width: 678px){
    .terminos_condiciones {
        div{
        border: 0.5px rgb(255, 255, 255) solid;
        height: auto;
        width: auto;
        margin: 30px 20px 0 20px;
        padding: 20px;
    }
    }
}  
@media screen and (max-width: 678px){
    /* SERVICIOS */
    .servicio{
        padding-top: 10px;
        div {
            height: 320px;
            width: 300px;
            margin: 80px;
            img{
                height: 380px;
                width: 250px;
                object-fit: cover;
            h5{
                text-align: center;
                color: black;
                font-style: italic;
                font-size: 20px;
                padding: 10px;
            }
            }
        }
    }
}
@media screen and (max-width: 645px){
    .titulo{
        font-size: 35px;
        margin: 5px;
    }
@media screen and (max-width: 645px){
    .grid_galeria{
        grid-template-columns: repeat(2, 2fr);
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 645px){
        .frescura{
            p{
                font-size: 30px;
            }
        }
}


    @media screen and (max-width: 645px){
    .img-2{
        grid-column: span 2;
    }
}
    @media screen and (max-width: 645px){
    .img-3{
        grid-column: span 2;
    }
}
    @media screen and (max-width: 645px){
    .img-4 {
        grid-column: span 2;
    }
}
    @media screen and (max-width: 645px){
    .img-5 {
        grid-column: span 3;
    }
}
}




@media screen and (max-width: 491px ){
    .terminos_condiciones {
        div{
        border: 0.5px rgb(255, 255, 255) solid;
        height: auto;
        width: auto;
        margin: 30px 20px 0 20px;
        padding: 20px;
        font-size: 15px;
        }
    } 
    }
@media screen and (max-width: 491px ){
    .titulo{
        font-size: 35px;
    }
} 
@media screen and (max-width: 491px ){
    /* tarjeta */
    .gustos{
        padding: 30px;
        div{
            height: 292px;
            width: 175px;
            padding: 0px;
            img{
                width: 170px;
                height: 210px;
            p{
                font-size: 13px;
            }
            }
        }
    }
}
@media screen and (max-width: 491px ){
    .frescura{
        p{
            font-size: 30px;
        }
}
}

@media screen and (max-width: 491px ){
    .gustos-color {
        a{
            font-size: 12px;
            border-radius: 30px;
            margin-bottom: 0px;
        }
    }
}
@media screen and (max-width: 491px ){
    .grid_galeria{
        grid-template-columns: repeat(2, 2fr);
    }
}  
@media screen and (max-width: 491px ){
    .img-1{
        grid-column: span 2;
    }
}
@media screen and (max-width: 491px ){
    .img-2{
        grid-column: span 2;
    }
}
@media screen and (max-width: 491px ){
    .img-3{
        grid-column: span 2;
    }
}
@media screen and (max-width: 491px ){
    .img-4 {
        grid-column: span 2;
    }
}
@media screen and (max-width: 491px ){
    .img-5 {
        grid-column: span 2;
    }
}



@media screen and (max-width: 450px ){
    .frescura{
        p{
            font-size: 20px;
        }
}
}
@media screen and (max-width: 391px ){
    .terminos_condiciones{ 
        div{
        border: 0.5px rgb(255, 255, 255) solid;
        height: auto;
        width: auto;
        margin: 30px 20px 0 20px;
        padding: 20px;
        font-size: 12px;
    }
}
}



@media screen and (max-width: 391px ){
    .gustos{
        padding: 10px;
        div{
            height: 300px;
            width: 185px;
            img{
                width: 180px;
                height: 210px;
            }
        }
    }
}
@media screen and (max-width: 379px ){
    .gustos {
        div{
        height: 220px;
        width: 155px;
        padding: 0px;
        margin: 3.5px;
        img{
            width: 150px;
            height: 130px;
        }
        }
    }
}
@media screen and (max-width: 379px ){
    .titulo{
        font-size: 5vw;
        }
}
@media screen and (max-width: 379px ){
    .promo_container{
        width: 90%;
        height: 90%;
        padding: 10px;
    }
}
@media screen and (max-width: 379px ){
    .acerca_de_nosotros{
        font-size: 10px;
        padding: none;
    }
}
@media screen and (max-width: 379px ){
    main {
        h4{
        font-size: 25px;
        }
    }
}
@media screen and (max-width: 379px ){
    .servicio{
        div{
            height: 300px;
            width: 250px;
            margin: 80px;
            h5{
                font-size: 12px;
            img{
                height: 210px;
                width: 200px;
            }
        }
    }
    }
}
@media screen and (max-width: 379px ){
    .grid_galeria{
        width: 80%;
        padding: none;
    }
}

@media screen and (max-width: 350px ){
    .frescura{
        p{
            font-size: 23px;
            padding: 10px;
        }
}
}
@media screen and (max-width: 350px ){
    .servicios{
        padding: none;
    }
}


